<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelProductTypeMapper">

    <resultMap id="HotelProductTypeResult" type="HotelProductType">
        <id property="productTypeId" column="product_type_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHotelProductTypeVo">
        SELECT product_type_id, name, description, remark, tenant_id, revision, create_by, create_time, update_by, update_time
        FROM hotel_product_type
    </sql>

    <select id="selectHotelProductTypeList" parameterType="HotelProductType" resultMap="HotelProductTypeResult">
        <include refid="selectHotelProductTypeVo" />
        <where>
            <if test="name != null and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
            <if test="description != null and description != ''">
                AND description = #{description}
            </if>
        </where>
    </select>

    <select id="selectHotelProductTypeByProductTypeId" parameterType="Long" resultMap="HotelProductTypeResult">
        <include refid="selectHotelProductTypeVo" />
        WHERE product_type_id = #{productTypeId}
    </select>

    <insert id="insertHotelProductType" parameterType="HotelProductType">
        INSERT INTO hotel_product_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productTypeId != null">product_type_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productTypeId != null">#{productTypeId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHotelProductType" parameterType="HotelProductType">
        UPDATE hotel_product_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE product_type_id = #{productTypeId}
    </update>

    <delete id="deleteHotelProductTypeByProductTypeId" parameterType="Long">
        DELETE FROM hotel_product_type
        WHERE product_type_id = #{productTypeId}
    </delete>

    <delete id="deleteHotelProductTypeByProductTypeIds" parameterType="Long[]">
        DELETE FROM hotel_product_type WHERE product_type_id IN
        <foreach collection="array" item="productTypeId" open="(" separator="," close=")">
            #{productTypeId}
        </foreach>
    </delete>

</mapper>