<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelProductRecordMapper">

    <resultMap id="HotelProductRecordResult" type="HotelProductRecord">
        <id property="productRecordId" column="product_record_id" />
        <result property="orderId" column="order_id" />
        <result property="productId" column="product_id" />
        <result property="quantity" column="quantity" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHotelProductRecordVo">
        SELECT product_record_id, order_id, product_id, quantity, tenant_id, revision, create_by, create_time, update_by, update_time
        FROM hotel_product_record
    </sql>

    <select id="selectHotelProductRecordList" parameterType="HotelProductRecord" resultMap="HotelProductRecordResult">
        <include refid="selectHotelProductRecordVo" />
        <where>
            <if test="orderId != null ">
                and order_id = #{orderId}
            </if>
            <if test="productId != null ">
                and product_id = #{productId}
            </if>
            <if test="quantity != null ">
                and quantity = #{quantity}
            </if>
        </where>
    </select>

    <select id="selectHotelProductRecordByProductRecordId" parameterType="Long" resultMap="HotelProductRecordResult">
        <include refid="selectHotelProductRecordVo" />
        WHERE product_record_id = #{productRecordId}
    </select>

    <insert id="insertHotelProductRecord" parameterType="HotelProductRecord">
        INSERT INTO hotel_product_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productRecordId != null">product_record_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productRecordId != null">#{productRecordId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHotelProductRecord" parameterType="HotelProductRecord">
        UPDATE hotel_product_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE product_record_id = #{productRecordId}
    </update>

    <delete id="deleteHotelProductRecordByProductRecordId" parameterType="Long">
        DELETE FROM hotel_product_record
        WHERE product_record_id = #{productRecordId}
    </delete>

    <delete id="deleteHotelProductRecordByProductRecordIds" parameterType="Long[]">
        DELETE FROM hotel_product_record WHERE product_record_id IN
        <foreach collection="array" item="productRecordId" open="(" separator="," close=")">
            #{productRecordId}
        </foreach>
    </delete>

</mapper>