<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelCustomerMapper">

    <resultMap id="HotelCustomerResult" type="HotelCustomer">
        <id property="customerId" column="customer_id" />
        <result property="origin" column="origin" />
        <result property="source" column="source" />
        <result property="name" column="name" />
        <result property="certificateType" column="certificate_type" />
        <result property="certificateNumber" column="certificate_number" />
        <result property="phoneNumber" column="phone_number" />
        <result property="gender" column="gender" />
        <result property="birthday" column="birthday" />
        <result property="region" column="region" />
        <result property="email" column="email" />
        <result property="totalRoomNight" column="total_room_night" />
        <result property="checkinTimes" column="checkin_times" />
        <result property="totalSpent" column="total_spent" />
        <result property="lastSpentTime" column="last_spent_time" />
        <result property="blackFlag" column="black_flag" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <collection property="tags" javaType="java.util.Set" resultMap="TagResult" />
    </resultMap>

    <resultMap id="TagResult" type="HotelTag">
        <id property="tagId" column="tag_id" />
        <result property="label" column="label" />
        <result property="color" column="color" />
    </resultMap>

    <sql id="selectHotelCustomerWithTagVo">
        SELECT c.customer_id, c.origin, c.source, c.name, c.certificate_type, c.certificate_number, c.phone_number, c.gender,
            c.birthday, c.region, c.email, c.total_room_night, c.checkin_times, c.total_spent, c.last_spent_time, c.black_flag,
            c.del_flag, c.remark, c.tenant_id, c.revision, c.create_by, c.create_time, c.update_by, c.update_time,
            t.tag_id, t.label, t.color
        FROM hotel_customer AS c
            LEFT JOIN hotel_tag_customer_link tc ON c.customer_id = tc.customer_id
            LEFT JOIN hotel_tag t ON tc.tag_id = t.tag_id
    </sql>

    <select id="selectHotelCustomerList" parameterType="HotelCustomer" resultMap="HotelCustomerResult">
        <include refid="selectHotelCustomerWithTagVo" />
        <where>
            <if test="origin != null and origin != ''">
                AND c.origin = #{origin}
            </if>
            <if test="name != null  and name != ''">
                AND c.name like concat('%', #{name}, '%')
            </if>
            <if test="certificateNumber != null and certificateNumber != ''">
                AND c.certificate_number = #{certificateNumber}
            </if>
            <if test="certificateType != null and certificateType != ''">
                AND c.certificate_type = #{certificateType}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND c.phone_number = #{phoneNumber}
            </if>
            <if test="gender != null and gender != ''">
                AND c.gender = #{gender}
            </if>
            <if test="region != null and region != ''">
                AND c.region = #{region}
            </if>
            <if test="email != null and email != ''">
                AND c.email = #{email}
            </if>
            <if test="blackFlag != null">
                AND c.black_flag = #{blackFlag}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND ( c.name LIKE concat('%', #{params.keyword}, '%')
                    OR c.phone_number LIKE concat('%', #{params.keyword}, '%')
<!--                    OR c.certificate_number LIKE concat('%', #{params.keyword}, '%')-->
<!--                    OR c.email LIKE concat('%', #{params.keyword}, '%')-->
<!--                    OR c.region LIKE concat('%', #{params.keyword}, '%')-->
                )
            </if>
            <if test="tagIds != null">
                AND tc.tag_id IN
                <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            <!-- 生日 -->
            <if test="params.beginBirthday != null and params.beginBirthday != ''">
                <![CDATA[ AND c.birthday >= #{params.beginBirthday} ]]>
            </if>
            <if test="params.endBirthday != null and params.endBirthday != ''">
                <![CDATA[ AND c.birthday <= #{params.endBirthday} ]]>
            </if>
            <!-- 累计入住次数 -->
            <if test="params.beginCheckinTimes != null and params.beginCheckinTimes != ''">
                <![CDATA[ AND c.checkin_times >= #{params.beginCheckinTimes} ]]>
            </if>
            <if test="params.endCheckinTimes != null and params.endCheckinTimes != ''">
                <![CDATA[ AND c.checkin_times <= #{params.endCheckinTimes} ]]>
            </if>
            <!-- 累计消费金额 -->
            <if test="params.beginTotalSpent != null and params.beginTotalSpent != ''">
                <![CDATA[ AND c.total_spent >= #{params.beginTotalSpent} ]]>
            </if>
            <if test="params.endTotalSpent != null and params.endTotalSpent != ''">
                <![CDATA[ AND c.total_spent <= #{params.endTotalSpent} ]]>
            </if>
            <!-- 最近一次消费时间 -->
            <if test="params.beginLastSpentTime != null and params.beginLastSpentTime != ''">
                <![CDATA[ AND c.last_spent_time >= #{params.beginLastSpentTime} ]]>
            </if>
            <if test="params.endLastSpentTime != null and params.endLastSpentTime != ''">
                <![CDATA[ AND c.last_spent_time <= #{params.endLastSpentTime} ]]>
            </if>
            <!-- 成为客户的时间 -->
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''">
                <![CDATA[ AND c.create_time >= #{params.beginCreateTime} ]]>
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''">
                <![CDATA[ AND c.create_time <= #{params.endCreateTime} ]]>
            </if>
            AND del_flag = 0
        </where>
    </select>

    <select id="selectHotelCustomerByCustomerId" parameterType="Long" resultMap="HotelCustomerResult">
        <include refid="selectHotelCustomerWithTagVo" />
        WHERE c.customer_id = #{customerId} AND del_flag = 0
    </select>

    <insert id="insertHotelCustomer" parameterType="HotelCustomer">
        INSERT INTO hotel_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">customer_id,</if>
            <if test="origin != null">origin,</if>
            <if test="source != null">source,</if>
            <if test="name != null">name,</if>
            <if test="certificateType != null">certificate_type,</if>
            <if test="certificateNumber != null">certificate_number,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="gender != null">gender,</if>
            <if test="birthday != null">birthday,</if>
            <if test="region != null">region,</if>
            <if test="email != null">email,</if>
            <if test="totalRoomNight != null">total_room_night,</if>
            <if test="checkinTimes != null">checkin_times,</if>
            <if test="totalSpent != null">total_spent,</if>
            <if test="lastSpentTime != null">last_spent_time,</if>
            <if test="blackFlag != null">black_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">#{customerId},</if>
            <if test="origin != null">#{origin},</if>
            <if test="source != null">#{source},</if>
            <if test="name != null">#{name},</if>
            <if test="certificateType != null">#{certificateType},</if>
            <if test="certificateNumber != null">#{certificateNumber},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="gender != null">#{gender},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="region != null">#{region},</if>
            <if test="email != null">#{email},</if>
            <if test="totalRoomNight != null">#{totalRoomNight},</if>
            <if test="checkinTimes != null">#{checkinTimes},</if>
            <if test="totalSpent != null">#{totalSpent},</if>
            <if test="lastSpentTime != null">#{lastSpentTime},</if>
            <if test="blackFlag != null">#{blackFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updateHotelCustomer" parameterType="HotelCustomer">
        UPDATE hotel_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="origin != null">origin = #{origin},</if>
            <if test="source != null">source = #{source},</if>
            <if test="name != null">name = #{name},</if>
            <if test="certificateType != null">certificate_type = #{certificateType},</if>
            <if test="certificateNumber != null">certificate_number = #{certificateNumber},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="region != null">region = #{region},</if>
            <if test="email != null">email = #{email},</if>
            <if test="totalRoomNight != null">total_room_night = #{totalRoomNight},</if>
            <if test="checkinTimes != null">checkin_times = #{checkinTimes},</if>
            <if test="totalSpent != null">total_spent = #{totalSpent},</if>
            <if test="lastSpentTime != null">last_spent_time = #{lastSpentTime},</if>
            <if test="blackFlag != null">black_flag = #{blackFlag},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        WHERE customer_id = #{customerId}
    </update>

    <update id="batchSetBlackFlag">
        UPDATE hotel_customer SET black_flag = #{blackFlag}, update_by = #{updateBy}
        WHERE customer_id IN
        <foreach collection="customerIds" item="customerId" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </update>

<!--    <delete id="deleteHotelCustomerByCustomerId" parameterType="Long">-->
<!--        DELETE FROM hotel_customer-->
<!--        WHERE customer_id = #{customerId}-->
<!--    </delete>-->

<!--    <delete id="deleteHotelCustomerByCustomerIds" parameterType="Long[]">-->
<!--        DELETE FROM hotel_customer WHERE customer_id IN-->
<!--        <foreach collection="array" item="customerId" open="(" separator="," close=")">-->
<!--            #{customerId}-->
<!--        </foreach>-->
<!--    </delete>-->

    <delete id="deleteHotelCustomerByCustomerId" parameterType="Long">
        UPDATE hotel_customer SET del_flag = true WHERE customer_id = #{customerId}
    </delete>

    <delete id="deleteHotelCustomerByCustomerIds" parameterType="Long[]">
        UPDATE hotel_customer SET del_flag = true WHERE customer_id IN
        <foreach collection="array" item="customerId" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>

</mapper>