<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelProductMapper">

    <resultMap id="HotelProductResult" type="HotelProduct">
        <id property="productId" column="product_id" />
        <result property="productTypeId" column="product_type_id" />
        <result property="name" column="name" />
        <result property="price" column="price" />
        <result property="inventory" column="inventory" />
        <result property="description" column="description" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHotelProductVo">
        SELECT product_id, product_type_id, name, price, inventory, description, del_flag, remark, tenant_id, revision, create_by, create_time, update_by, update_time
        FROM hotel_product
    </sql>

    <select id="selectHotelProductList" parameterType="HotelProduct" resultMap="HotelProductResult">
        <include refid="selectHotelProductVo" />
        <where>
            <if test="productTypeId != null ">
                and product_type_id = #{productTypeId}
            </if>
            <if test="name != null  and name != ''">
                AND name like concat('%', #{name}, '%')
            </if>
            <if test="price != null ">
                and price = #{price}
            </if>
            <if test="inventory != null ">
                and inventory = #{inventory}
            </if>
            <if test="description != null  and description != ''">
                and description = #{description}
            </if>
        </where>
    </select>

    <select id="selectHotelProductByProductId" parameterType="Long" resultMap="HotelProductResult">
        <include refid="selectHotelProductVo" />
        WHERE product_id = #{productId}
    </select>

    <insert id="insertHotelProduct" parameterType="HotelProduct">
        INSERT INTO hotel_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="productTypeId != null">product_type_id,</if>
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="inventory != null">inventory,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="productTypeId != null">#{productTypeId},</if>
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="inventory != null">#{inventory},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHotelProduct" parameterType="HotelProduct">
        UPDATE hotel_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productTypeId != null">product_type_id = #{productTypeId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="inventory != null">inventory = #{inventory},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE product_id = #{productId}
    </update>

    <delete id="deleteHotelProductByProductId" parameterType="Long">
        DELETE FROM hotel_product
        WHERE product_id = #{productId}
    </delete>

    <delete id="deleteHotelProductByProductIds" parameterType="Long[]">
        DELETE FROM hotel_product WHERE product_id IN
        <foreach collection="array" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>

</mapper>