<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelPayRecordMapper">

    <resultMap id="HotelPayRecordResult" type="HotelPayRecord">
        <id property="payRecordId" column="pay_record_id" />
        <result property="customerId" column="customer_id" />
        <result property="orderId" column="order_id" />
        <result property="payType" column="pay_type" />
        <result property="payMethod" column="pay_method" />
        <result property="amount" column="amount" />
        <result property="payTime" column="pay_time" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHotelPayRecordVo">
        SELECT pay_record_id, customer_id, order_id, pay_type, pay_method, amount, pay_time, remark, tenant_id, revision, create_by, create_time, update_by, update_time
        FROM hotel_pay_record
    </sql>

    <select id="selectHotelPayRecordList" parameterType="HotelPayRecord" resultMap="HotelPayRecordResult">
        <include refid="selectHotelPayRecordVo" />
        <where>
            <if test="customerId != null">
                AND customer_id = #{customerId}
            </if>
            <if test="orderId != null">
                AND order_id = #{orderId}
            </if>
            <if test="payType != null and payType != ''">
                AND pay_type = #{payType}
            </if>
            <if test="payMethod != null and payMethod != ''">
                AND pay_method = #{payMethod}
            </if>
            <if test="amount != null">
                AND amount = #{amount}
            </if>
            <if test="payTime != null">
                AND pay_time = #{payTime}
            </if>
        </where>
    </select>

    <select id="selectHotelPayRecordByPayRecordId" parameterType="Long" resultMap="HotelPayRecordResult">
        <include refid="selectHotelPayRecordVo" />
        WHERE pay_record_id = #{payRecordId}
    </select>

    <insert id="insertHotelPayRecord" parameterType="HotelPayRecord">
        INSERT INTO hotel_pay_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payRecordId != null">pay_record_id,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="payMethod != null and payMethod != ''">pay_method,</if>
            <if test="amount != null">amount,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payRecordId != null">#{payRecordId},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="payMethod != null and payMethod != ''">#{payMethod},</if>
            <if test="amount != null">#{amount},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHotelPayRecord" parameterType="HotelPayRecord">
        UPDATE hotel_pay_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="payType != null and payType != ''">pay_type = #{payType},</if>
            <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE pay_record_id = #{payRecordId}
    </update>

    <delete id="deleteHotelPayRecordByPayRecordId" parameterType="Long">
        DELETE FROM hotel_pay_record
        WHERE pay_record_id = #{payRecordId}
    </delete>

    <delete id="deleteHotelPayRecordByPayRecordIds" parameterType="Long[]">
        DELETE FROM hotel_pay_record WHERE pay_record_id IN
        <foreach collection="array" item="payRecordId" open="(" separator="," close=")">
            #{payRecordId}
        </foreach>
    </delete>

</mapper>