<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelOrderMapper">

    <resultMap id="HotelOrderResult" type="HotelOrder">
        <id property="orderId" column="order_id" />
        <result property="number" column="number" />
        <result property="customerId" column="customer_id" />
        <result property="totalAmount" column="total_amount" />
        <result property="checkoutStatus" column="checkout_status" />
        <result property="delFlag" column="del_flag" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectHotelOrderVo">
        SELECT order_id, number, customer_id, total_amount, checkout_status, del_flag, remark, tenant_id, revision, create_by, create_time, update_by, update_time
        FROM hotel_order
    </sql>

    <select id="selectHotelOrderList" parameterType="HotelOrder" resultMap="HotelOrderResult">
        <include refid="selectHotelOrderVo" />
        <where>
            <if test="number != null and number != ''">
                AND number = #{number}
            </if>
            <if test="customerId != null">
                AND customer_id = #{customerId}
            </if>
            <if test="totalAmount != null">
                AND total_amount = #{totalAmount}
            </if>
            <if test="checkoutStatus != null and checkoutStatus != ''">
                AND checkout_status = #{checkoutStatus}
            </if>
        </where>
    </select>

    <select id="selectHotelOrderByOrderId" parameterType="Long" resultMap="HotelOrderResult">
        <include refid="selectHotelOrderVo" />
        WHERE order_id = #{orderId}
    </select>

    <insert id="insertHotelOrder" parameterType="HotelOrder">
        INSERT INTO hotel_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="number != null and number != ''">number,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="checkoutStatus != null and checkoutStatus != ''">checkout_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="revision != null">revision,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="number != null and number != ''">#{number},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="checkoutStatus != null and checkoutStatus != ''">#{checkoutStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHotelOrder" parameterType="HotelOrder">
        UPDATE hotel_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null and number != ''">number = #{number},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="checkoutStatus != null and checkoutStatus != ''">checkout_status = #{checkoutStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE order_id = #{orderId}
    </update>

    <delete id="deleteHotelOrderByOrderId" parameterType="Long">
        DELETE FROM hotel_order
        WHERE order_id = #{orderId}
    </delete>

    <delete id="deleteHotelOrderByOrderIds" parameterType="Long[]">
        DELETE FROM hotel_order WHERE order_id IN
        <foreach collection="array" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>