<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.apkr.hotel.mapper.HotelTagMapper">

    <resultMap id="HotelTagResult" type="HotelTag">
        <id property="tagId" column="tag_id" />
        <result property="label" column="label" />
        <result property="color" column="color" />
        <result property="revision" column="revision" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectTagVo">
        select tag_id, label, color, revision, create_by, create_time, update_by, update_time
        from hotel_tag
    </sql>

    <select id="selectTagList" parameterType="HotelTag" resultMap="HotelTagResult">
        <include refid="selectTagVo" />
        <where>
            <if test="tagId != null and tagId != ''">
                and tag_id = #{tagId}
            </if>
            <if test="label != null and label != ''">
                and label like concat('%', #{label}, '%')
            </if>
            <if test="color != null and color != ''">
                and color like concat('%', #{color}, '%')
            </if>
            <if test="revision != null and revision != ''">
                and revision = #{revision}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
        </where>
    </select>

    <insert id="insertTag" keyProperty="tagId" useGeneratedKeys="true">
        insert into hotel_tag(
        <if test="tagId != null and tagId != 0">tag_id,</if>
        <if test="label != null and label != ''">label,</if>
        <if test="color != null and color != ''">color,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        ) values(
        <if test="tagId != null and tagId != 0">#{tagId},</if>
        <if test="label != null and label != ''">#{label},</if>
        <if test="color!= null and color != ''">#{color},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
            current_timestamp()
        )
    </insert>

    <update id="updateTag" parameterType="HotelTag">
        update hotel_customer
        <set>
            <if test="label != null and label != ''">label = #{label},</if>
            <if test="color != null and color != ''">color = #{color},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = current_timestamp()
        </set>
        where tag_id = #{tagId}
    </update>

    <delete id="deleteTagById" parameterType="Long">
        delete from hotel_tag where tag_id = #{tagId}
    </delete>

    <delete id="deleteTagByIds" parameterType="Long[]">
        delete from hotel_tag where tag_id in
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>

</mapper>