@font-face {
  font-family: "iconfont"; /* Project id 4435548 */
  src: url('iconfont.woff2?t=1723803789113') format('woff2'),
       url('iconfont.woff?t=1723803789113') format('woff'),
       url('iconfont.ttf?t=1723803789113') format('truetype'),
       url('iconfont.svg?t=1723803789113#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon1:before {
  content: "\ee0b";
}

.icon-down:before {
  content: "\e60c";
}

.icon-up:before {
  content: "\e60f";
}

.icon-angle-up-l:before {
  content: "\e611";
}

.icon-angle-down-l:before {
  content: "\e616";
}

.icon-command-01:before {
  content: "\e60b";
}

.icon-briefcase-l:before {
  content: "\e610";
}

.icon-image-l:before {
  content: "\e612";
}

.icon-image:before {
  content: "\e613";
}

.icon-user-l:before {
  content: "\e614";
}

.icon-talk-l:before {
  content: "\e615";
}

